.signupform {
  display: grid;

  grid-row-gap: 8px;

  .mat-checkbox {
    padding-bottom: 1.25em;
  }

  .phone-number {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content auto;
    align-items: center;

    .mat-select {
      width: 50px;
      padding-bottom: 8px
    }
  }

}
