<div>
  <h1>Sign Up</h1>

  <mat-form-field>
    <mat-label>User type</mat-label>
    <mat-select [(ngModel)]="userType" placeholder="Select user type">
      <mat-option value="grower">Grower</mat-option>
      <mat-option value="warehouse">Warehouse Employee</mat-option>
    </mat-select>
  </mat-form-field>

  <form *ngIf="userType" class="signupform" [formGroup]="currentForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name"/>


      <mat-error *ngIf="name.errors?.minlength && name.touched">
        This name is too short
      </mat-error>
      <mat-error *ngIf="!name.errors?.minlength && name.invalid && name.touched">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address"/>

      <mat-error *ngIf="address.errors?.minlength && name.touched">
        This name is too short
      </mat-error>
      <mat-error *ngIf="!address.errors?.minlength && address.invalid && address.touched">
        This field is required
      </mat-error>
    </mat-form-field>

    <div class="phone-number">
      <mat-select formControlName="phone_prefix">
        <mat-option value="+1">+1</mat-option>
        <mat-option value="+55">+55</mat-option>
      </mat-select>
      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input
          matInput
          formControlName="phone_number"
          (unmaskedValue)="handlePhoneNumber($event)"
          [placeholder]="mask"
          [appPhoneMask]="mask"
        />
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="female">Female</mat-option>
        <mat-option value="male">Male</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
      <mat-error *ngIf="gender.invalid && gender.touched">
        This field is required
      </mat-error>
    </mat-form-field>

    <ng-template [ngIf]="userType === 'grower'">
      <mat-form-field>
        <mat-label>Batches handled</mat-label>
        <input matInput formControlName="batches_handled"/>

        <mat-error *ngIf="batchesHandled.invalid && batchesHandled.touched">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Yield Acquiredr</mat-label>
        <input matInput type="number" formControlName="yield_acquired"/>

        <mat-error *ngIf="yieldAcquired.invalid && yieldAcquired.touched">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Greenhouse locations</mat-label>
        <mat-select formControlName="greenhouse_locations" multiple>
          <mat-option value="Toronto">Toronto</mat-option>
          <mat-option value="Milton">Milton</mat-option>
          <mat-option value="Ottawa">Ottawa</mat-option>
        </mat-select>

        <mat-error *ngIf="greenhouseLocations.invalid && greenhouseLocations.touched">
          This field is required
        </mat-error>
      </mat-form-field>
    </ng-template>

    <ng-template [ngIf]="userType === 'warehouse'">
      <mat-form-field>
        <mat-label>Years of Experience</mat-label>
        <input matInput formControlName="years_of_experience" type="number"/>

        <mat-error *ngIf="yearsOfExperience.invalid && yearsOfExperience.touched">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Educational Qualification</mat-label>
        <input matInput formControlName="educational_qualification"/>

        <mat-error *ngIf="educationalQualification.invalid && educationalQualification.touched">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-checkbox color="primary" formControlName="inventory_management_certification">
        Has Inventory Management Certification?
      </mat-checkbox>

    </ng-template>

    <button mat-raised-button [disabled]="!currentForm || currentForm.invalid" color="primary" (click)="saveUser()">
      Create User
    </button>
  </form>

</div>
