<div class="userDetail" *ngIf="userDetail$ | async as userDetail">
  <dl>
    <dt>Name</dt>
    <dd>{{userDetail.name}}</dd>

    <dt>Address</dt>
    <dd>{{userDetail.address}}</dd>

    <dt>Phone Number</dt>
    <dd>{{userDetail.phone_number}}</dd>

    <dt>Gender</dt>
    <dd>{{userDetail.gender}}</dd>

    <dt>Type</dt>
    <dd>{{userDetail.type}}</dd>

    <ng-template [ngIf]="userDetail.type === 'grower'">
      <dt>Batches handled</dt>
      <dd>{{userDetail.batches_handled}}</dd>

      <dt>Yield acquired</dt>
      <dd>{{userDetail.yield_acquired}}</dd>

      <dt>Greenhouse locations</dt>
      <dd>{{userDetail.greenhouse_locations}}</dd>
    </ng-template>

    <ng-template [ngIf]="userDetail.type === 'warehouse'">
      <dt>Years of experience</dt>
      <dd>{{userDetail.years_of_experience}}</dd>

      <dt>Educational qualification</dt>
      <dd>{{userDetail.educational_qualification}}</dd>

      <dt>Inventory management certification</dt>
      <dd>{{userDetail.inventory_management_certification ? 'Yes' : 'No'}}</dd>
    </ng-template>

  </dl>
</div>
