<mat-card>
  <mat-card-content>
    <button mat-button (click)="openSignupForm()">
      <span i18n>Create User</span>
    </button>
    <br />
    <br />
    <mat-table [dataSource]="(userData$ | async)">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef
                         i18n>Name</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phone_number">
        <mat-header-cell *matHeaderCellDef
                         i18n>Phone Number</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.phone_number}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef
                         i18n>Type of User</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.type}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: visibleColumns"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
